{* Latte template *}

{block content}

<h1 n:block=title>Nenalezeno!</h1>

<p>Bohuzel system nenalezl pozadovane informace!<br/>
	<a n:href="Useredit:usersList">Seznam uživatelů</a>
	<br/>
	<a href="{link Homepage:default}">Domů</a>
</p>

