{* Latte template *}

{block content}

<h1 n:block=title>Spatne opravneni</h1>

<p>Nemate dostatecne opravneni k prohlizeni nebo editaci teto stranky!<br />
    <a href="{link Homepage:default}">Domu</a>
</p>
